[submodule "extra-lua-preset"]
path="extra-lua-preset"
url=https://github.com/dujanhung/extra-lua-preset.git
branch="main"
[submodule "evtsbx-mod-lua-preset"]
path="evtsbx-mod-lua-preset"
url=https://github.com/dujanhung/evtsbx-mod-lua-preset.git
branch="main"
